@use "../../styles/main.scss" as *;

.dropdown {
  background: $gray;
  margin: 12px 0;
  max-width: 582px;
  text-align: left;
}
.dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: $main-color;
  color: $white;
  font-size: 13px;
  font-weight: 700;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
}
.dropdown-menu {
  background: $gray;
  color: $black;
  border-radius: 5px;
  padding: 0 0 20px 0;
  margin: 20px;
}

.arrow {
  transition: 0.3s;
}

.dropdown-close {
  display: none;
}
.rotate-arrow {
  transform: rotate(180deg);
}
