@use "../../styles/main.scss" as *;

.dropdown {
  background: $gray;
  margin: 12px 0;
  text-align: left;
  width: 100%;
}
.dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: $main-color;
  color: $white;
  font-size: 13px;
  font-weight: 700;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
}
.dropdown-menu {
  background: $gray;
  color: $black;
  border-radius: 5px;
  padding: 0 20px;
  margin: 0 20px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in, padding 0.5s ease-in;
  &.dropdown-open {
    max-height: 200px;
    padding: 20px 20px;
  }
  & li {
    font-size: 12px;
  }
}

.arrow {
  transition: 0.3s;
}

.rotate-arrow {
  transform: rotate(180deg);
}

@media screen and (min-width: 1024px) {
  .dropdown {
    max-width: 1024px;
    width: 100%;
  }
  .dropdown-toggle {
    max-width: 1024px;
    height: 54px;

    line-height: 34.22px;
    font-size: 24px;
  }
  .dropdown-menu li {
    font-size: 18px;
  }
  .arrow {
    width: 24px;
  }
}
