@use "../../styles/main.scss" as *;
.rating {
  display: flex;
  gap: 4px;
}
.stars {
  font-size: 13px;
}

.redStar {
  color: $main-color;
}

.greyStar {
  color: $grayDark;
}

@media screen and (min-width: 1024px) {
  .stars {
    font-size: 24px;
  }
}
