@use "../../styles/main.scss" as *;

.thumbnail {
  background: $main-color;
  margin-top: 22px;

  display: flex;
  justify-content: left;
  align-items: flex-end;

  width: 335px;
  height: 255px;
  border-radius: 10px;
}
.thumbnailTitle {
  padding-left: 20px;
  font-size: 18px;
  font-weight: 700;
  color: $white;
}
