@use "./main.scss" as *;

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: $black;

  height: 209px;
}

.copyright {
  font-size: 12px;
  max-width: 100px;
}
