@use "./main.scss" as *;

header {
  display: flex;
  justify-content: space-between;
}

.headerLogo {
  width: 145px;
  height: 46px;
}

.nav {
  display: flex;
  gap: 26px;
}

.nav li {
  white-space: nowrap;

  & :active,
  :hover {
    text-decoration: underline;
  }
}
