$main-color: #ff6060;
$white: #fff;
$black: #000;
$gray: #f6f6f673;

:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 12px;
  color: $white;
}

a {
  font-weight: 500;
  color: $black;
  text-decoration: none;
}

li {
  list-style: none;
}
body {
  margin: 0px;
  max-width: 100%;

  box-sizing: border-box;
}

.pagesContainer {
  margin: 27px 20px;
}

.logTitle {
  margin-bottom: 10px;
}

.title {
  color: $main-color;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;
}

.logLocation {
  color: $black;
  font-size: 14px;
  font-weight: 500;
  line-height: 19.96px;
}

.logRate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
