@use "../../styles/main.scss" as *;

.carousel {
  position: relative;
  width: 100%;
}

.carouselNav {
  position: absolute;
  width: 100%; // S'étend sur toute la largeur de la zone d'affichage
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between; // Alignement des éléments aux extrémités
  align-items: center; // Centrage vertical
}

.carouselImg {
  width: 100%;
  height: 255px;
  border-radius: 10px;
  object-fit: cover;
}

.carousel-number {
  display: none;
}

.navArrow {
  padding: 20px;
  cursor: pointer;
  font-size: 19px;
  color: $white;
  z-index: 10;
}

@media screen and (min-width: 600px) {
  .carouselImg {
    max-width: 1240px;
    width: 100%;
    height: 415px;
    border-radius: 25px;
  }
  .carousel-number {
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 24px;
    transform: translateY(50%);
    font-size: 18px;
    color: $white;
  }
  .navArrow {
    font-size: 46px;
  }
}
