@use "../../styles/main.scss" as *;
.banner {
  position: relative;
}

.imgBanner {
  width: 335px;
  height: 111px;
  border-radius: 10px;

  object-fit: cover;
  filter: brightness(55%);
}

.textBanner {
  position: absolute;
  color: $white;
  top: 10px;
  left: 16px;

  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  z-index: 1;

  width: 225px;
  height: 48px;
}

@media screen and (min-width: 600px) {
  .imgBanner {
    width: 100%;
    height: 223px;
    border-radius: 25px;
  }
  .textBanner {
    top: 50px;
    left: 10%;

    font-size: 48px;
    width: auto;
  }
}
